section {
 	color: blue;
 }

 div {
 	color: red;
 }
 .second {
 	color: purple;
 }
 #section2 {
 	color: green;
 }
 footer div{
 	color: pink;
 }
 nav, h2 {
 	color: grey;
 }
 main .firstSection {
 	background: lightblue;
 }