 /* какой-то пробел перед импортами*/
 @import url(reset.css);		/* тут стоят какие-то 2 лишних tab, что не дает интерпретатору работать, убери их и следующий импорт окрасится в приятные цвета*/
 @import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Roboto+Condensed');

 /* май гад, где отступы? Сделай код красивым, молю! */
 /* это жутко, что div имеет класc header, хотя на странице есть тег header. я писал об этом в html */
 .header {
width: 100%; /* он и так 100%, зачем это? */
height: 100%; /* он и так 100%, зачем это? */
background-color: #b00e0e;
line-height: 100px;
text-align: center;
font-size: 50px;
font-family: 'Roboto Condensed', sans-serif;
text-transform: uppercase;
font-weight: bold;
color: white;
}

.background {
height: 900px;
background-image: url(../img/back.jpg);
background-size: auto; /* он и так auto, зачем? */
background-position: center;
background-attachment: fixed;
}

/* я бы все же сделал класс этой секции, чтобы была понятна ее суть например class="black-line" */
.background section {
width: 100%; /* он и так 100%, зачем это? */
height: 50px;
background-color: black;
line-height: 50px;
}

.sectionTwo {
width: 100%; /* он и так 100%, зачем это? */
height: 50px;
}

/* можно было задать для всего body или page и переопределил, где нужно */

.text {
font-family: 'Montsserat', sans-serif;
}

.text h2 {
text-transform: uppercase;
font-size: 30px;
font-weight: bold;
font-family: 'Oswald', sans-serif;
line-height: 50px;
}

.text ul {
font-family: 'Montsserat', sans-serif;
list-style-type: disc;
}

/* я даже не понимаю идею. Что за s??? зачем вот ты все это? Этого даже не показывается на странице ведь*/
s
li::before {content: "◦  "; color: red} 

.linkSection {
width: 100%;
line-height: 50px;
background-color: #b00e0e;
font-family: 'Oswald', sans-serif;
letter-spacing: 2px;
text-align: center;
}

/* подобные генеральные стили для всех тегов обычно пишут сверху */
a {
text-decoration: none;
color: white;
}

.copy {
line-height: 50px;
font-family: 'Roboto Condensed', sans-serif;
}