 @import url(reset.css);
 @import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Roboto+Condensed');

body {
	font-family: 'Montsserat', sans-serif;
}

header {
	background-color: #b00e0e;
	line-height: 100px;
	text-align: center;
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

.background {
	height: 900px;
	background-image: url(../img/back.jpg);
	background-position: center;
	background-attachment: fixed;
}

.background .black {
	height: 50px;
	background-color: black;
	line-height: 50px;
}

.background .transparent {
	height: 50px;
}

.text h2 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	line-height: 50px;
}

.text ul {
	list-style: circle;
}

li::before {
	content: "✔︎ "; color: red;
} 

.linkSection {
	width: 100%;
	line-height: 50px;
	background-color: #b00e0e;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	text-align: center;
}

.copy {
	line-height: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}


