@import url(reset.css);

img {
	height: 200px;
}
.page {
	font-family: sans-serif;
}

h1 {
	font-family: serif;
	font-style: bold;
	font-size: 40px;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: white;
}

.header {
	width: 100%;
	background-color: rgba(117, 190, 218, 0.5);
	position: fixed;
	box-sizing: border-box;
}

/* помни про обнуление отступов например */
.glasses {
	display: inline-block;
}

/* почему бы не сделать один контейнер, который будет хранить все колонки, и его выровнять по центру (.text подойдет на эту роль) вместо сложных манипуляций с margin-left. Ведь есть margin: auto; которое так клево все выравнивает по центру */
.column {
	width: 310px;
	height: 1070px;
	font-size: 20px;
	display: inline-block;
  	vertical-align: top;
  	box-sizing: border-box;
  	margin-top: 300px;
  	border: 2px solid black;
  	padding: 40px 20px;
  	margin-right: 100px;
  	margin-left: 65px;
}

/* я не нашел у тебя таких классов в html */
.columnOne {
	background-color: violet;
}

.columnTwo {
	background-color: orange;
}

.columnThree {
	background-color: yellow;
}

.footer {
  	height: 50px;
  	margin-top: 10px;
  	background-color: black;
  	color: white;
  	padding: 15px;
  	box-sizing: border-box;
  	position: relative;
}

.copy {
	position: absolute; /* неплохая идея, но лучше top или bottom тоже писать*/
	right: 30px;
}

.back {
	margin-left: 20px;
}