@import url(reset.css);

img {
	height: 200px;
}
.page {
	font-family: sans-serif;
}

h1 {
	font-family: serif;
	font-style: bold;
	font-size: 40px;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: white;
}

.header {
	width: 100%;
	background-color: rgba(117, 190, 218, 0.5);
	position: fixed;
	box-sizing: border-box;
}

.glasses {
	display: inline-block;
}

.text {
	width: 90%;
	margin: auto;
}

.column {
	width: 350px;
	height: 1070px;
	font-size: 20px;
	display: inline-block;
  	vertical-align: top;
  	box-sizing: border-box;
  	margin-top: 300px;
  	border: 2px solid black;
  	padding: 40px 20px;
  	margin-right: 30px;
  	margin-left: 40px;
}

.columnOne {
	background-color: violet;
}

.columnTwo {
	background-color: orange;
}

.columnThree {
	background-color: yellow;
}

.footer {
  	height: 50px;
  	margin-top: 10px;
  	background-color: black;
  	color: white;
  	padding: 15px;
  	box-sizing: border-box;
  	position: relative;
}

.copy {
	position: absolute;
	right: 30px;
	bottom: 20px;
}

.back {
	margin-left: 20px;
}